<div class="mainContent">
        <!-- My Box Content -->
        <div class="boxContent">
            <div class="firstRow">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="cardOne">
                            <div class="description">
                                <p>Total users</p>
                                <h3>{{totalUsers}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="cardTwo">
                            <div class="description">
                                <p>Total orders</p>
                                <h3>{{totalOrders}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="cardThree">
                            <div class="description">
                                <p>Total income</p>
                                <h3>{{totalSales}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
        

        
