<!--div class="sidebar">
    <div class="container">
        <div class="title">
            <span><i class="fas fa-tools"></i></span>
            <h2>Admin panel</h2>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="item active" routerLink="/dashboard">
                        <i class="fa fa-user fa-5x"></i>
                        <span>Dashboard</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" routerLink="/admin-profile">
                        <i class="fa fa-user fa-5x"></i>
                        <span>User Profile</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <-- <div class="item" routerLink="/read-products"> >
                    <div class="item" (click)="women()">    
                        <i class="fas fa-female fa-7x"></i>
                        <span>women</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" (click)="men()">
                        <i class="fas fa-male fa-7x"></i>
                        <span>men</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" (click)="girls()">
                        <i class="fas fa-child fa-7x"></i>
                        <span>girl</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" (click)="boys()">
                        <i class="fas fa-tshirt fa-7x"></i>
                        <span>boys</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" routerLink="/orders">
                        <i class="fas fa-person-dolly fa-7x"></i>
                        <span>orders</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="item" routerLink="/reviews">
                        <i class="fas fa-star fa-7x"></i>
                        <span>reviews</span>
                    </div>
                </div>
                 <div class="col-lg-12">
                    <div class="item" routerLink="/maps">
                        <i class="fas fa-map-marker-alt fa-7x"></i>
                        <span>map</span>
                    </div>
                </div> >
            </div>
        </div>
    </div>
</div-->


