<!-- <nav>
    <div class="title">
      <h2>dashboard</h2>
    </div>
    <div class="items">
      <div class="search">
        <input type="search" placeholder="Search..">
        <i class="fas fa-search"></i>
      </div>
      <!-- <div class="icons">
        <i class="fas fa-bell"></i>
        <span class="num-notification">1</span>
      </div> -->
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/admin-profile" routerLinkActive="router-link-active" >profile</a></li>
          <li><a class="dropdown-item" routerLink="/" routerLinkActive="router-link-active" (click)="logout()" >logout</a></li>
        </ul>
      </div>
         >
    </div>
  </nav> -->